.mobile-connexion {
  background-color: var(--background-gradiant);
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
}

.img-connexion-parent {
  width: 62px;
  height: 32px;
  margin: 20px;
}

.h1-connexion {
  text-align: center;
  color: var(--ligth-color-text);
}

.img-h2-desktop {
  display: none;
}

.container-label-input-connexion {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.label-connexion {
  display: none;
}

.input-connexion {
  height: 48px;
  width: 329px;
  border: none;
  border-radius: 10px;
  background-color: #dfdede21;
}

.input-connexion::placeholder {
  color: var(--ligth-color-text);
  padding: 10px;
}

.link-connexion-parent {
  text-decoration: none;
  color: var(--ligth-color-text);
  margin-left: 10px;
}

.btn-global {
  text-decoration: none;
  border-radius: 10px;
  width: 297px;
  height: 53.667px;
  background-color: #7e72f2;
  color: var(--ligth-color-text);
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: auto;
  margin-top: 80px;
}

.link-pro-connexion {
  display: none;
}

@media (width >= 1024px) {
  .mobile-connexion {
    background-size: 30vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .logo-h1-connexion {
    display: flex;
  }

  .h1-connexion {
    text-align: start;
  }

  .logo-form {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .img-h2-desktop {
    display: flex;
    flex-direction: column;
    width: 29vw;
    padding: 40px;
    margin-left: -23px;
  }

  .img-h2-desktop > h2 {
    margin-top: 100px;
    color: var(--ligth-color-text);
    text-align: center;
  }

  .container-label-input-connexion {
    margin-top: 150px;
    margin-left: 25%;
  }

  .input-connexion {
    border: 1px solid rgba(0, 0, 0, 0.268);
    border-radius: 4px;
  }

  .input-connexion::placeholder {
    color: var(--dark-color-text);
    padding: 10px;
  }

  .link-connexion-parent {
    color: var(--dark-color-text);
    text-align: center;
  }

  .link-connexion-parent-btn {
    width: 100%;
    margin-top: 0px;
  }

  .link-pro-connexion {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--ligth-color-text);
    text-decoration: none;
    gap: 10px;
    margin-left: 275px;
  }

  .link-pro-connexion > a {
    display: inline-block;
    color: var(--ligth-color-text);
    text-decoration: none;
  }

  .btn-link-pro-connexion {
    border: 1px solid var(--ligth-color-text);
    border-radius: 15px;
    width: 80px;
    height: 28px;
    text-align: center;
    padding: 2px;
  }
}
