.mobile-connexion {
  /* background-color: var(--background-gradiant); */
  background: linear-gradient(
    179deg,
    rgba(71, 79, 255, 0.9) 2.49%,
    rgba(89, 84, 249, 0.91) 13.34%,
    rgb(227, 122, 204) 99.05%
  );

  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
}

.img-connextion-parent {
  width: 62px;
  height: 32px;
  margin: 20px;
}

.h1-connexion {
  text-align: center;
}

.container-label-input-connexion {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-connexion {
  height: 48px;
  width: 329px;
  border: none;
  border-radius: 10px;
  background-color: #dfdede21;
}

.input-connexion::placeholder {
  color: white;
  padding: 10px;
}

.link-connexion-parent {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.btn-global {
  text-decoration: none;
  border-radius: 10px;
  width: 297px;
  height: 53.667px;
  background-color: #7e72f2;
  color: var(--white, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: auto;
  margin-top: 80px;
}
