.mobile-connexion {
  background: var(--background-gradient);
  height: 100vh;
}

.img-connexion-parent {
  height: 32px;
  margin: 20px;
}

.h1-connexion {
  text-align: center;
  color: var(--light-color-text);
  letter-spacing: 1px;
}

.h2-connexion-parent {
  display: none;
}

.img-h2-desktop {
  display: none;
}

.container-label-input-connexion {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.label-connexion {
  display: none;
}

.input-connexion {
  height: 48px;
  width: 329px;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.144);
}

.input-connexion::placeholder {
  color: var(--light-color-text);
}

.input-connexion:focus {
  outline: 1px solid var(--purple-color);
}

.link-connexion-parent {
  text-decoration: none;
  color: var(--light-color-text);
  margin-left: 10px;
}

.btn-global {
  text-decoration: none;
  border-radius: 10px;
  width: 297px;
  height: 53.667px;
  background-color: var(--purple-color);
  color: var(--light-color-text);
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 70px;
}

.link-pro-connexion {
  display: none;
}

@media (width >= 1024px) {
  .mobile-connexion {
    background-size: 30vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .logo-h1-connexion {
    display: flex;
  }

  .h1-connexion {
    text-align: start;
  }

  .logo-form {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .h2-connexion-parent {
    display: block;
  }

  .img-h2-desktop {
    display: flex;
    flex-direction: column;
    width: 29vw;
    padding: 40px;
  }

  .img-h2-desktop > h2 {
    margin-top: 100px;
    color: var(--light-color-text);
    text-align: center;
  }

  .container-label-input-connexion {
    margin-left: 25%;
  }

  .input-connexion {
    border: 1px solid var(--input-light-border);
    border-radius: 4px;
  }

  .input-connexion::placeholder {
    color: var(--dark-color-text);
    padding: 10px;
  }

  .link-connexion-parent {
    color: var(--dark-color-text);
    text-align: center;
  }

  .link-connexion-parent-btn {
    width: 100%;
    margin-top: 0px;
    border-radius: 4px;
  }

  .link-pro-connexion {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--light-color-text);
    text-decoration: none;
    gap: 10px;
    margin-left: 220px;
  }

  .btn-link-connexion {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .btn-link-pro-connexion {
    font-weight: 600;
    border: 1px solid var(--light-color-text);
    border-radius: 15px;
    width: 80px;
    height: 28px;
    text-align: center;
    padding-bottom: 32px;
  }
}
