.little-titles-details {
  font-size: 24px;
}

.adaptatif-right-part-detail {
  position: fixed;
  right: 0;
  top: 87px;
  height: 100%;
}

.adaptatif-left-part-detail {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adaptatif-global-container-detail {
  position: relative;
  top: 70px;
  width: 100%;
}

.adaptatif-advanced-line-1 {
  position: fixed;
  opacity: 1;
}

.adaptatif-descritif-background {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 455px;
}
