.little-titles-details {
  font-size: 24px;
}

.adaptatif-right-part-detail {
  position: fixed;
  right: 0;
  top: 88px;
  min-height: calc(100vh - 90px);
}

.adaptatif-left-part-detail {
  height: calc(100vh - 70px);
  top: 88px;
}

.adaptatif-global-container-detail {
  position: relative;
  top: 70px;
  width: 100%;
  overflow: auto;
}

.adaptatif-advanced-line-1 {
  position: fixed;
}

.nav-button-adaptatif-detail {
  padding-bottom: 28px;
}
