.structure-left-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.adress-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adaptatif-nav-buttons {
  position: fixed;
  bottom: 0;
  bottom: 2%;
  width: 43%;
}

.display-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
