.nav-bar-pro {
  width: 100%;
  height: 70px;
  background: var(--background-gradient);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  top: 0;
}

.nav-bar-pro-left-part {
  display: flex;
  gap: 70px;
  align-items: center;
}

.nav-bar-pro-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image {
  width: 50px;
}

.nav-bar-pro-text {
  color: var(--light-color-text);
}
