.button-naviguate {
  text-decoration: none !important;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: auto;
  padding: 10px;
  width: 100vw;
}
