.adaptatif-left-part-pictures {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pictures-description-import {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
