.advanced-line {
  width: 100%;
  height: 10px;
  background: var(--background-grey);
}

.global-container-structure {
  display: flex;
  min-height: calc(100vh - 80px);
}

.left-part-container-structure {
  width: 50%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.right-part-container-structure {
  width: 50%;
  background-color: var(--background-light-purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.descritif-background {
  width: 50%;
  height: 75%;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-descriptif-structure {
  width: 75%;
}

.text-descriptif-structure {
  flex-wrap: wrap;
  padding: 0 40px;
}

.checkboxgroup {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.information-name {
  font-size: 12px;
  margin-left: 10px;
  margin-top: -1px;
}

.navlink-screen1 {
  background: var(--purple-color);
  border-radius: 99px;
  width: 150px;
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
  color: var(--ligth-color-text);
  margin-left: 690px;
  position: relative;
}

.global-input-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
