/* TODO Variables à changer après une fois le fichier Global CSS réalisé */

.titles {
  font-family: "Philosopher";
  font-size: 32px;
}

.texts {
  font-family: "Libre Franklin";
  font-size: 16px;
}

/* TODO---------------------------------------------------------------- */

.advanced-line {
  width: 100%;
  height: 10px;
  background: #e8e8e8;
}

.global-container-structure {
  display: flex;
  min-height: calc(100vh - 80px);
}

.left-part-container-structure {
  width: 50%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.right-part-container-structure {
  width: 50%;
  background-color: rgba(226, 105, 221, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.descritif-background {
  width: 50%;
  height: 75%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-descriptif-structure {
  width: 75%;
}

.text-descriptif-structure {
  flex-wrap: wrap;
  padding: 0 40px;
}

.checkboxgroup {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.input-checkbox[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.input-checkbox[type="checkbox"] + .label-checkbox {
  width: 200px;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid var(--Gray-30, #b4b4bb);
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
}

.input-checkbox[type="checkbox"]:checked + .label-checkbox {
  background-color: #7e72f2;
  color: white;
}

.information-name {
  font-size: 12px;
  margin-left: 10px;
  margin-top: -1px;
}

.navlink-screen1 {
  background: #7e72f2;
  border-radius: 99px;
  width: 150px;
  height: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-left: 690px;
  position: relative;
}

.global-input-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-container {
  width: 600px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 8px; */
  border-radius: 18px;
  border: 1px solid #7e72f2;
  padding: 0 8px;
}

.text-input-label {
  font-weight: bolder;
  color: #7e72f2;
}

.input-text {
  border: none;
}
