.descritif-background {
  width: 50%;
  height: 75%;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-descriptif-structure {
  padding: 0 40px;
}

.image-descriptif-structure {
  width: 75%;
}

.text-descriptif-structure {
  flex-wrap: wrap;
  padding: 0 40px;
}

.checkboxgroup {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.information-name {
  font-size: 12px;
  margin-left: 10px;
  margin-top: -1px;
}

.adaptatif-nav-buttons {
  display: flex;
  justify-content: end;
}

.global-input-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
