.logo-invite {
  height: 32px;
  margin: 20px;
}

.form-acces-invite {
  min-width: 100vw;
  min-height: 110vh;
  padding: 10px;
  text-align: center;
  background: linear-gradient(
    179deg,
    rgba(71, 79, 255, 0.9) 2.49%,
    rgba(89, 84, 249, 0.91) 13.34%,
    rgb(227, 122, 204) 99.05%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles-acces-invite {
  color: var(--ligth-color-text, rgb(255, 255, 255));
}

.form-invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.accesinvite-checkbox-container {
  color: var(--ligth-color-text, rgb(255, 255, 255));
}
