.form-acces-invite {
  min-width: 100vw;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(
    179deg,
    rgba(71, 79, 255, 0.9) 2.49%,
    rgba(89, 84, 249, 0.91) 13.34%,
    rgb(227, 122, 204) 99.05%
  );
}

.logo-invite {
  height: 32px;
  margin: 20px;
}

.titles-acces-invite {
  margin-top: 60px;
  color: var(--ligth-color-text, rgb(255, 255, 255));
  text-align: center;
}

.form-invite {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.input-parents-invite {
  padding-right: 10px;
  height: 48px;
  width: 329px;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  background-color: var(--input-transparent-background);
  color: var(--ligth-color-text, rgb(255, 255, 255));
}
.input-parents-invite::placeholder {
  color: var(--ligth-color-text, rgb(255, 255, 255));
  color: var(--ligth-color-text, rgb(255, 255, 255));
}

.accesinvite-checkbox-container {
  color: var(--ligth-color-text, rgb(255, 255, 255));
}
