.reservation-request {
  background: var(--background-gradient);
  padding: 18px;
  margin: auto;
  text-align: center;
  color: var(--light-color-text);
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
